{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ student.FirstName}} {{student.LastName}}</h1>

  <p><strong>prepods:</strong> <a href="">{{ student.FirstName }}</a></p> <!-- employee detail link not yet defined -->
  <p><strong>kafedras:</strong> <a href="">{{ student.LastName }}</a></p> <!-- employee detail link not yet defined -->
<p><strong>ID:</strong> <a href="">{{ student.LastName }}</a></p> <!-- employee detail link not yet defined -->
  <p><strong>  bt_date:</strong> <a href="">{{ student.date_of_birth }}</a></p> <!-- employee detail link not yet defined -->

{% endblock %}